<nav>
    <div class="site-title">
        <a href="/all-blogs"><h1>Node-Blogs 2024</h1></a>
        <p>Node-Blogs 2024</p>
    </div>
    <ul>
        <li><a href="/all-blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>        
        <li><a href="/blogs/create">New Blog</a></li> 
    </ul>
</nav>