<html>

    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
        
        <div class="about content">
            <h2>About page</h2>
            <p> About this page.</p>
            <p> Second row of about page... Lorem ipsum...</p>
        </div>        
    
        <!-- footer.ejs include to here-->
    </body>
</html>